<div style="display: flex">
  <div style="flex: 1">
    <ul>
      <li><a routerLink="buffer">Buffer</a></li>
      <li><a routerLink="buffercount">Buffer Count</a></li>
      <li><a routerLink="buffertime">Buffer Time</a></li>
      <li><a routerLink="buffertoggle">Buffer Toggle</a></li>
      <li><a routerLink="bufferwhen">Buffer When</a></li>
      <li><a routerLink="take">Take</a></li>
      <li><a routerLink="takelast">TakeLast</a></li>
      <li><a routerLink="takeuntil">TakeUntil</a></li>
      <li><a routerLink="takewhile">TakeWhile</a></li>
      <li><a routerLink="skip">Skip</a></li>
      <li><a routerLink="skiplast">SkipLast</a></li>
      <li><a routerLink="skipuntil">SkipUntil</a></li>
      <li><a routerLink="skipwhile">SkipWhile</a></li>
      <li><a routerLink="distinct">Distinct</a></li>
      <li><a routerLink="distinctuntilchanged">DistinctUntilChanged</a></li>
      <li>
        <a routerLink="distinctuntilkeychanged">DistinctUntilKeyChanged</a>
      </li>
      <li><a routerLink="filter">Filter</a></li>
      <li><a routerLink="sample">Sample</a></li>
      <li><a routerLink="audit">Audit</a></li>
      <li><a routerLink="throttle">Throttle</a></li>
      <li><a routerLink="first">First</a></li>
      <li><a routerLink="last">Last</a></li>
      <li><a routerLink="debounce">Debounce</a></li>
      <li><a routerLink="elementat">ElementAt</a></li>
      <li><a routerLink="ignoreelements">IgnoreElements</a></li>
      <li><a routerLink="single">Single</a></li>
      <li><a routerLink="map">Map</a></li>
      <li><a routerLink="mapto">MapTo</a></li>
      <li><a routerLink="ajax">Ajax</a></li>
      <li><a routerLink="mergemap">MergeMap</a></li>
      <li><a routerLink="mergemapto">MergeMapTo</a></li>
      <li><a routerLink="concatmap">ConcatMap</a></li>
      <li><a routerLink="concatmapto">ConcatMapTo</a></li>
      <li><a routerLink="exhaustmap">ExhaustMap</a></li>
      <li><a routerLink="switchmap">SwitchMap</a></li>
      <li><a routerLink="switchmapto">SwitchMapTo</a></li>
      <li><a routerLink="multicast">Multicast</a></li>
      <li><a routerLink="share">Share</a></li>
      <li><a routerLink="publishbehavior">Publish Behavior</a></li>
      <li><a routerLink="publishlast">Publish Last</a></li>
      <li><a routerLink="publishreplay">Publish Replay</a></li>
      <li><a routerLink="catcherror">Catch Error</a></li>
      <li><a routerLink="retry">Retry</a></li>
      <li><a routerLink="retrywhen">RetryWhen</a></li>
      <li><a routerLink="combinelatest">CombineLatest</a></li>
      <li><a routerLink="concat">Concat</a></li>
      <li><a routerLink="forkjoin">Fork Join</a></li>
      <li><a routerLink="merge">Merge</a></li>
      <li><a routerLink="partition">Partition</a></li>
      <li><a routerLink="race">Race</a></li>
      <li><a routerLink="zip">Zip</a></li>
      <li><a routerLink="defer">Defer</a></li>
      <li><a routerLink="range">Range</a></li>
      <li><a routerLink="generate">Generate</a></li>
      <li><a routerLink="timer">Timer</a></li>
      <li><a routerLink="scan">Scan</a></li>
      <li><a routerLink="count">Count</a></li>
      <li><a routerLink="max">Max</a></li>
      <li><a routerLink="min">Min</a></li>
      <li><a routerLink="reduce">Reduce</a></li>
      <li><a routerLink="isempty">IsEmpty</a></li>
      <li><a routerLink="findindex">FindIndex</a></li>
      <li><a routerLink="find">Find</a></li>
      <li><a routerLink="every">Every</a></li>
      <li><a routerLink="defaultifempty">DefaultIfEmpty</a></li>
      <li><a routerLink="toarray">ToArray</a></li>
      <li><a routerLink="subscribeon">SubscribeOn</a></li>
      <li><a routerLink="observeon">ObserveOn</a></li>
      <li><a routerLink="materialize">Materialize</a></li>
      <li><a routerLink="dematerialize">DeMaterialize</a></li>
      <li><a routerLink="delay">Delay</a></li>
      <li><a routerLink="combinelatestall">CombineLatestAll</a></li>
      <li><a routerLink="concatall">ConcatAll</a></li>
      <li><a routerLink="exhaustall">ExhaustAll</a></li>
      <li><a routerLink="mergeall">MergeAll</a></li>
      <li><a routerLink="switchall">SwitchAll</a></li>
      <li><a routerLink="startwith">StartWith</a></li>
      <li><a routerLink="withlatestfrom">WithLatestFrom</a></li>
      <li><a routerLink="groupby">GroupBy</a></li>
      <li><a routerLink="pairwise">Pairwise</a></li>
      <li><a routerLink="window">Window</a></li>
      <li><a routerLink="windowcount">WindowCount</a></li>
      <li><a routerLink="windowtime">WindowTime</a></li>
      <li><a routerLink="windowtoggle">WindowToggle</a></li>
      <li><a routerLink="windowwhen">WindowWhen</a></li>
    </ul>
  </div>
  <div style="flex: 4">
    <div><router-outlet></router-outlet></div>
  </div>
</div>
