<div style="display: flex">
  <div style="flex: 1">
    <ul>
      <li><a routerLink="buffer">Buffer</a></li>
      <li><a routerLink="buffercount">Buffer Count</a></li>
      <li><a routerLink="buffertime">Buffer Time</a></li>
      <li><a routerLink="buffertoggle">Buffer Toggle</a></li>
      <li><a routerLink="bufferwhen">Buffer When</a></li>
      <li><a routerLink="take">Take</a></li>
      <li><a routerLink="takelast">TakeLast</a></li>
      <li><a routerLink="takeuntil">TakeUntil</a></li>
      <li><a routerLink="takewhile">TakeWhile</a></li>
    </ul>
  </div>
  <div style="flex: 4">
    <div><router-outlet></router-outlet></div>
  </div>
</div>
