<div style="display: flex">
  <div style="flex: 1">
    <ul>
      <li><a routerLink="buffer">Buffer</a></li>
      <li><a routerLink="buffercount">Buffer Count</a></li>
      <li><a routerLink="buffertime">Buffer Time</a></li>
      <li><a routerLink="buffertoggle">Buffer Toggle</a></li>
      <li><a routerLink="bufferwhen">Buffer When</a></li>
      <li><a routerLink="take">Take</a></li>
      <li><a routerLink="takelast">TakeLast</a></li>
      <li><a routerLink="takeuntil">TakeUntil</a></li>
      <li><a routerLink="takewhile">TakeWhile</a></li>
      <li><a routerLink="skip">Skip</a></li>
      <li><a routerLink="skiplast">SkipLast</a></li>
      <li><a routerLink="skipuntil">SkipUntil</a></li>
      <li><a routerLink="skipwhile">SkipWhile</a></li>
      <li><a routerLink="distinct">Distinct</a></li>
      <li><a routerLink="distinctuntilchanged">DistinctUntilChanged</a></li>
      <li>
        <a routerLink="distinctuntilkeychanged">DistinctUntilKeyChanged</a>
      </li>
      <li><a routerLink="filter">Filter</a></li>
      <li><a routerLink="sample">Sample</a></li>
      <li><a routerLink="audit">Audit</a></li>
      <li><a routerLink="throttle">Throttle</a></li>
      <li><a routerLink="first">First</a></li>
      <li><a routerLink="last">Last</a></li>
      <li><a routerLink="debounce">Debounce</a></li>
      <li><a routerLink="elementat">ElementAt</a></li>
      <li><a routerLink="ignoreelements">IgnoreElements</a></li>
    </ul>
  </div>
  <div style="flex: 4">
    <div><router-outlet></router-outlet></div>
  </div>
</div>
