<!-- <h1>RxJS Observables</h1>

<a href="#" id="click-button">Click Here</a>

<app-new-observable></app-new-observable> -->
<!-- 
<app-function-observable></app-function-observable> -->
<!-- <app-cancelling-observable></app-cancelling-observable> -->

<!-- <app-operators-basics></app-operators-basics>  -->

<div><a routerLink="/operators">Operators</a></div>
<div><a routerLink="/subject">Subject</a></div>
<div><a routerLink="/coldobservable">Cold Observable</a></div>
<div><a routerLink="/behaviorsubject">Behavior Subject</a></div>
<div><a routerLink="/replaysubject">Replay Subject</a></div>
<div><a routerLink="/asyncsubject">Async Subject</a></div>
<div><a routerLink="/voidsubject">Void Subject</a></div>
<div><a routerLink="/scheduler">Scheduler</a></div>
<div><a routerLink="/merge">Merge vs MergeAll vs MergeMap</a></div>
<div><a routerLink="/concat">Concat vs ConcatAll vs ConcatMap</a></div>
<div><a routerLink="/mergemap">MergeMap vs SwitchMap vs ConcatMap vs ExhaustMap</a></div>
<div>
  <router-outlet></router-outlet>
</div>
